/*#panneau2*/

p {
    color: #7B68EE;
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
    font font-size: medium;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50PX;
}




h1 {

    text-align: center;
    font-family: 'Cookie', cursive;
    color: #7B68EE;
    font-size:60px;
    


}

body {
    background:Window;
}
