#panneau2 p {
 
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    color:dodgerblue;
    font-family: 'Lobster', cursive;
    font-style: italic
}





h1 {
    font-style: italic;
    text-align: center;
    font-family: 'Lobster', cursive;
    color:dodgerblue;
    font-size: 60px;
    letter-spacing: 3px;
    text-indent: 50px;

}
